# Dependencies
node_modules/

# AS ITS FOR COLLEGE PROJECT I WILL KEEP THE ENV FILES
# Environment
#.env
#.env.*
#!.env.example

# Build
dist/
build/
.vite/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Test
coverage/

# Temporary
tmp/
temp/
secret/